@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-100: #c9c9c9;
  --base-200: #ffffff;
  --base-300: #ececec;
  --base-400: #ffffff;
  --base-500: #a1a1a1;
  --text: #000000;
}

.dark {
  --base-100: #424b5b;
  --base-200: #313a4f;
  --base-300: #202836;
  --base-400: #131726;
  --base-500: #5c606d;
  --text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-300);
  color: var(--text);
}

h2 {
  @apply text-[20px]
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.long-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.ant-menu {
  border-inline-end: 0px !important;
}

::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #00000000; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Roundness of the thumb */
}
