:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #0fb315;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
}