:root {
  --toastify-color-light: #ffffff;
  --toastify-color-dark: #141414;
  --toastify-color-info: #1677FF;
  --toastify-color-success: #52C41A;
  --toastify-color-warning: #FAAD14;
  --toastify-color-error: #FF4D4F;
}